<h3 class="text-center mt-3"><%=@friend.full_name%>'s Profile</h3>
  <div class="card col-9 mt-3">
    <div class="card-body">
      <strong>Email:</strong> <%=@friend.email%>
      <strong>Name:</strong> <%=@friend.fname%>
      <strong>Last Name:</strong> <%=@friend.lname%>
    <span class="ml-1">
    <%if !current_user.alredy_following?(@friend) %>
      <%=link_to "add",friends_path(user: current_user,
        friend: @friend), method: :post, 
       class: "btn btn-success"%>
   <%else%>
     <span class="badge badge-info">Alredy following</span>
    <%end%>
    </span>
    </div>
  </div>
